footer {
    padding: 22px 25px;
    background-color: $dark-grey;
    @include displayFlex(null,null,column,16px);
    .footer_title {
        font-family: $secundary-font;
        color: $white;
        font-size: 18px;
    }
    nav {
        @include displayFlex(null,null,column,7px);
        color: $white;
        span {
            position: absolute;
            left: 50px;
        }
    }
}
  