footer {
    padding: 22px 25px;
    background-color: $dark-grey;
    @include displayFlex(null,null,column,16px);
    @include respondTo(md) {
        @include displayFlex(flex-start,flex-end,row-reverse,80px);
        height: 54px;
        padding: 30px 25px;
    }
    .footer_title {
        font-family: $secundary-font;
        color: $white;
        font-size: 18px;
    }
    nav {
        @include displayFlex(null,null,column,7px);
        color: $white;
        @include respondTo(md) {
            @include displayFlex(null,null,row,16px);
        }
    }
}
  