header {
    @include displayFlex(center,null,column);
    a {
        position: absolute;
        left: 17px;
        top: 14px;
      }
    .logo {
        width: 100%;
        height: 63px;
        @include displayFlex(center);
        img {
            width: 162px;
        }
    }
}