header {
    @include displayFlex(center,null,column);
    .header__logo {
        width: 100%;
        margin: 14px auto 14px auto;
        @include displayFlex(center);
        img {
            width: 162px;
        }
        @include respondTo(md) {
            margin: 30px auto 30px auto;
        }
        a {
            position: absolute;
            left: 17px;
          }
    }
}