main img {
    width: 100%;
    display: block;
}

.titlesection {
    @include displayFlex(null,center,column);
    background-color: $main-bg-color;
}
  
.usesection {
    height: 440px;
    @include displayFlex(null,null,column); 
    .usesection_listing {
        margin-bottom: 68px;
        height: 100%;
        @include displayFlex(null,null,column,25px);
    }
}

.usecard {
    margin-left: 32px;
    margin-right: 20px;
    height: inherit;
    border-radius: 20px;
    background-color: $main-bg-color;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    display: flex;  
    .usecard_content {
        @include displayFlex(null,center,null,23px);
        position: relative;
        right: 12px;
        span {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $main-color;
            @include displayFlex(center,center);
        }  
        .usecard_iconbox {
            width: 25px;
            display: flex;
        }
    }
}

.restaurantsection {
    @include displayFlex(null,null,column);
    background-color: $main-bg-color;  
    .restaurantsection_listing {
        padding-bottom: 66px;
        @include displayFlex(null,center,column,18px);
    }
}

.restaurantcard {
    width: 340px;
    height: 250px;
    margin: 0 18px 0 18px;
    border-radius: 15px;
    background-color: $white;  
    .restaurantcard_image {
        position: relative;
    }
    img {
        width: 340px;
        height: 175px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }  
    .restaurantcard_content {
        padding-right: 25px;
        @include displayFlex(space-between,center,row); 
        .restaurantcard_content_title {
            margin: 16px 13px 16px 13px;
            @include displayFlex(null,null,column);
        }
    }
}
  
.newcardtag {
    width: 80px;
    height: 30px;
    border-radius: 2px;
    background: $light-green;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    color: $dark-green;
    position: absolute;
    left: 248px;
    bottom: 137px;
    @include displayFlex(center,center);
}



.restaurantmenu {
    position: relative;
    margin-top: -40px;
    padding: 0 13px;
    border-radius: 40px 40px;
    background-color: $main-bg-color;
    @include displayFlex(null,null,column,40px);
    .restaurantmenu_title {
        margin: 32px 4px 0 4px;
        padding-right: 24px;
        @include displayFlex(space-between,null,row);
        .restaurantmenu_iconbox {
            position: relative;
            top: 8px;
        }
    }
    section {
        @include displayFlex(null,null,column,12px);
        article {
            height: 69px;
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 15px;
            background-color: $white;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            @include displayFlex(space-between);
            .card_content {
                @include displayFlex(space-between);
                width: 100%;
                margin: 0 15px;
                .card_title {
                    @include displayFlex(center,null,column,5px);
                }
                .card_price {
                    @include displayFlex(null,end);
                    margin-bottom: 10px;
                }
            }
        }
    }
}
