.use-icons {
    fill: #7E7E7E;
}
  
.use-icons-purple {
    fill: $main-color;
}
  
.phone-icon {
    width: 25px;
    height: 21px;
}
  
.menu-icon {
    width: 25px;
    height: 17px;
}
  
.store-icon {
    width: 25px;
    height: 19px;
}