.fa-location-dot {
    color: $dark-grey;
}

.fa-mobile-screen-button {
    color: $middle-grey;
}

.fa-list-ul {
    color: $middle-grey;
}

.fa-store {
    color: $main-color;
}

.fa-utensils {
    font-size: 13px;
}

.fa-handshake-angle {
    font-size: 13px;
}

.hearticons {
    position: relative;
    &:hover .filledhearticon {
        scale: 1;
    }
    .filledhearticon {
        position: absolute;
        left: 0;
        scale: 0;
        transition-property: scale;
        transition-duration: 200ms;
    }
}


article {
    &:hover .selecticon {
        width: 60px;
    }
    .selecticon {
        width: 0;
        transition-property: width;
        transition-duration: 200ms;
    }
}


hr {
    margin: 0;
    width: 40px;
    height: 3px;
    border: none;
    background: #99E2D0;
}