@mixin displayFlex($justify: null, $align: null, $direction: null, $gap: null, $wrap: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    wrap: $wrap;
}

@mixin respondTo($breakpoint){
    @if $breakpoint == md{
        @media (min-width: 1025px) {
            @content;
        }
    }
}