/* COLORS */
$main-color: #9356dc;
$main-bg-color: #f6f6f6;
$light-green: #99e2d0;
$dark-green: #008766;
$pink: #ff79da;
$dark-grey: #353535;
$middle-grey: #7e7e7e;
$light-grey: #eaeaea;
$white: #FFFFFF;
$black: #101010;

/* GRADIENTS */
$gradient: linear-gradient(to top, $main-color, $pink);

/* FONTS */
$primary-font: "Roboto", sans-serif;
$secundary-font: "Shrikhand", sans-serif;